/* CONTENEDOR GENERAL DE LA PANTALLA */
.correos-container {
    background-color: var(--app-fondo);
    color: var(--texto-principal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-principal);
}

/* MAIN */
.correos-main {
    padding: 32px;
    flex: 1;
}

/* FILTROS */
.filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 28px;
}

.busqueda,
.filtrar {
    padding: 10px 14px;
    border: 1px solid var(--color-borders);
    border-radius: 8px;
    font-size: 14px;
    background: var(--color-light-bg);
    color: var(--texto-principal);
    outline: none;
    transition: border .2s ease;
}

.busqueda {
    flex: 1;

}

.filtrar {
    flex: 1;

}

.busqueda:focus,
.filtrar:focus,
.datepicker-wrapper input:focus {
    border-color: var(--primary-blue);
}

.datepicker-wrapper {
    flex: 1;
    box-sizing: border-box;

}

.react-datepicker-wrapper {
    width: 100%;
}

/* Estilo del input del DatePicker */
.datepicker-wrapper .datepicker-input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid var(--color-borders);
    border-radius: 8px;
    font-size: 14px;
    background: var(--color-light-bg);
    color: var(--texto-principal);
    box-sizing: border-box;
}

/* Estilo del contenedor principal (para sombra, si quieres) */
.react-datepicker-popper {
    box-shadow: var(--sombra-card);
}

/* Estilo de los días seleccionados */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: var(--primary-blue) !important;
    color: white !important;
    border-radius: 4px !important;
}

/* Estilo de hover en días */
.react-datepicker__day:hover {
    background-color: #dcd8ff !important;
    border-radius: 4px !important;
}

/* Estilo para el label del checkbox */
.mostrar-mios {
    display: flex;
    flex: 1;
    align-items: center;
    font-weight: 500;
    color: var(--primary-blue);
    /* primary-blue */
    cursor: pointer;
    margin-left: 10px;
}

/* Estilo para el checkbox en sí */
.mostrar-mios input[type="checkbox"] {
    margin-right: 8px;
    accent-color: var(--primary-blue);
    cursor: pointer;
}

/*     TABLA  */
.tabla-container {
    background: var(--app-fondo);
    border-radius: 12px;
    box-shadow: var(--sombra-card);
    overflow: hidden;
}

.correos-tabla {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.correos-tabla th,
.correos-tabla td {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 14px 18px;
    border-bottom: 1px solid var(--color-light-bg);
}

/* Encabezados */
.correos-tabla th {
    background-color: var(--color-light-bg);
    color: var(--primary-blue);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

/* Column widths */

.correos-tabla th:nth-child(1),
.correos-tabla td:nth-child(1) {
    width: 30%;
    /* Destinatario */
}

.correos-tabla th:nth-child(2),
.correos-tabla td:nth-child(2) {
    width: 40%;
    /* Asunto */
}

.correos-tabla th:nth-child(3),
.correos-tabla td:nth-child(3) {
    width: 20%;
    /* Fecha de envío */
}

.correos-tabla th:nth-child(4),
.correos-tabla td:nth-child(4) {
    width: 10%;
    /* Usuario */
    text-align: center;
}

.correos-tabla th:nth-child(5),
.correos-tabla td:nth-child(5) {
    width: 10%;
    /* Ver detalle */
    text-align: center;
}


/* Botón acción */
.accion-boton {
    background: none;
    border: none;
    color: var(--primary-blue);
    cursor: pointer;
    font-size: 20px;
    transition: opacity .2s;
}

.accion-boton:hover {
    opacity: 0.7;
}

/*  PAGINACIÓN*/
.paginacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.paginacion p {
    font-size: 14px;
    color: var(--color-gray-text);
}

.paginacion-botones {
    display: flex;
    gap: 6px;
}

.paginacion-botones button {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid var(--color-light-bg);
    background: var(--color-light-bg);
    cursor: pointer;
    transition: background .2s ease;
}

.paginacion-botones button:hover {
    background: #e5e7eb;
}

.paginacion-botones .activo {
    background-color: var(--primary-blue);
    color: white;
}

.paginacion-botones button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}