:root {
    --sombra-card: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
}

/* SPINNER */
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    /* Opcional */
    background-color: rgba(255, 255, 255, 0.6);
    /* Fondo suave */
    z-index: 9999;
}

.spinner p {
    margin-top: 16px;
    font-size: 1.2rem;
    color: var(--primary-blue);
    /* tu color */
    font-weight: 500;
}

/* CUERPO DE LA PÁGINA (BODY) */

.column-layout {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 8rem;
    padding: 20px 200px;
}

.col-izquierda {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.col-derecha {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Perfil y Contacto */
.info-card {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    border: solid 0.5px #E3E4E4;
    box-shadow: var(--sombra-card);
}

.info-card-title {
    color: var(--primary-blue);
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 10px;
}

/* perfil iconos */
.profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
}

.profile-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    align-items: center;
}

.profile-icon-wrapper {
    color: var(--primary-blue);
    font-size: 1.5em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-text-group {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.profile-title {
    font-size: 0.9em;
    color: var(--color-gray-text);
    margin: 0;
    font-weight: 500;
}

.profile-value {
    font-size: 1.1em;
    color: var(--texto-principal);
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: 500;
}


/* Estado de Seguros */
.seguros-subtitle {
    font-size: 0.9em;
    color: var(--color-gray-text);
    margin-bottom: 15px;
}

/* Estilos dinamicos de los tags de Polizas */

.seguros-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

}

/* Estado Inadctivo - Color Gris */
.seguro-tag--inactive {
    background-color: #f3f4f6;
    border-color: #ddd;
    color: #a0a0a0;
    font-weight: 400;
}

/* El ícono dentro del tag inactivo */
.seguro-tag--inactive svg {
    color: #a0a0a0;
    fill: #a0a0a0;
}


/* Estado Activo - Color Verde del Score */
.seguro-tag--active {
    background-color: color-mix(in srgb, var(--score-verde) 10%, white);
    border-color: var(--score-verde);
    color: var(--score-verde);
    font-weight: 600;
}

/* Estilo Base Polizas */
.seguro-tag {
    width: auto;
    display: inline;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.85em;
    transition: all 0.2s;
}

/* Antiguedad */

.seguros-antiguedad {
    font-size: 0.9em;
    color: var(--color-gray-text);
    margin-bottom: 20px;
    font-weight: 400;
}

.seguros-antiguedad strong {
    font-weight: 600;
    color: var(--texto-principal);
}

/* Metricas */

.seguros-metrics-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #e5e7eb;
}

.metric-value {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--texto-principal);
    margin-bottom: 5px;
}

.metric-label {
    font-size: 0.8em;
    color: var(--color-gray-text);
    margin: 0;
}

/* Para Cuotas Impagas y Siniestros */
.error-value {
    color: var(--score-rojo);
}

/* Interacciones */
.interaccion-text p {
    margin: 0;
}

.interaccion-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
}

.interaccion-icon {
    color: var(--primary-blue);
    font-size: 1.2em;

}

.interaccion-text {

    font-size: 0.95em;
    color: var(--texto-principal);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.interaccion-type {
    font-weight: 600;
    color: var(--primary-blue);
    margin-right: 5px;
}

.interaccion-date {
    font-size: 0.8em;
    color: var(--color-gray-text);
    margin-top: 3px;
}



/* Score Card (COLUMNA DERECHA) */

.score-card {
    /* El fondo dinámico se aplica en línea, pero esta es la base */
    padding: 25px;
    border-radius: 12px;
    box-shadow: var(--sombra-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 15px;
}

.score-title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    width: 100%;
    border: none;
    padding: 0;
}

/* Barra de Progreso */
.score-bar-container {
    width: 90%;
    height: 15px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
}

.score-bar-fill {
    height: 100%;
    transition: width 0.5s ease-out;
}

.score-value-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.score-value {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.score-rango {
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin: 0;
}

.score-message {
    font-size: 1.3em;
    margin: 0;
    color: #444;
    font-weight: 500;
}

.email-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
    box-shadow: var(--sombra-card);
    max-width: 300px;
    font-size: 1.3rem;
    font-family: var(--font-principal);
}

.email-button:hover {
    filter: brightness(110%);
}


/* Boton Flotante (Fixed Back Button) */


.fixed-return-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-blue);
    color: white;
    padding: 8px 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease, border-radius 0.3s ease;

}

.return-icon {
    font-size: 1rem;
    color: white;
}

.return-text-hover {
    white-space: nowrap;
    opacity: 0;
    max-width: 0;
    transition: all 0.3s ease;
    font-weight: 200;
    font-size: 1.1rem;
}

/* Hover: Aparicion de texto y cambia forma*/
.fixed-return-button:hover {
    border-radius: 50px;
    padding: 8px 25px;
    background-color: var(--primary-blue);
    gap: 10px;
}

.fixed-return-button:hover .return-text-hover {
    opacity: 1;
    max-width: 200px;
}